@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap');

@import "_variables";
@import "_functions";
@import "_mixins";

body {
  font: font_weight(regular) font_size(f16) font(base_font);
  color: color(_gray);
  text-transform: uppercase;
  overflow-x: hidden;
}
body *{
  box-sizing: border-box;
}
h1 {
  font-size: font_size(f100);
}

h2 {
  font-size: font_size(f80);
}

h3 {
  font-size: font_size(f25);
}

h4 {
  font-size: font_size(f20);
}

.wrap {
  @include flex-center-between;

  &:not(.block_wrap .btn_wrap) {
    padding: $inner_padd;
  }

  &.block_wrap {
    padding: $block_padding_desk;
  }

  &.boxed {
    @include cont_width;
  }

  >div {
    &.col-center {
      @include flex-center-center;
      margin: $med_marg;
    }
  }

  .col-1 {
    flex-basis: 100%;
  }

  .col-2 {
    flex-basis: calc(50% - 20px);
  }

  .col-3 {
    flex-basis: calc(33.33% - 20px);
  }

  .col-4 {
    flex-basis: calc(25% - 20px);
  }

  .col-5 {
    flex-basis: calc(20% -20px);
  }
}

header {
  @include flex-center-center;
}

.heading,
.btn,
a {
  font-weight: font_weight(boldest);
  font-family: font(lined_font);
  text-align: center;
}

p {
  font-weight: font_weight(regular);
  font-family: font(base_font);
  text-transform: none;
}

#app {
  @include flex-center-column;
}

.btn {
  padding: $inner_padd;
  background: color(_black);
  color: white;
  //margin: $med_marg;
  transform: scale(1) rotate(0deg);
  transition: $trans_default;
  flex-grow: 1;
}

.btn_wrap {
  padding: 15px 0;

  >.btn {
    margin: 0;
    flex-basis: calc(50% - 25px);
    background: linear-gradient(to right, #000300 0%, #000300 100%);
    background-size: 400% 400%;

    &:hover {
      animation: gradient_wave 5s ease infinite;
    }

    &:first-child {
      //margin-right: 5px;

      &:hover {
        transform: scale(0.9) rotate(-10deg);
        background: linear-gradient(to right, #ec008c 0%, #02a9ea 100%);
        background-size: 400% 400%;
      }
    }

    &:last-child {
      &:hover {
        transform: scale(0.9) rotate(10deg);
        background: linear-gradient(to left, #ec008c 0%, #02a9ea 100%);
        background-size: 400% 400%;
      }
    }
  }
}

.yellow {
  background: color(_yellow);
}

.magenta {
  background: color(_magenta);
}

.blue {
  background: color(_blue);
}

.bck-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bck-fixed {
  background-attachment: fixed;
}

.single-hero {
  @include flex-center-center;
  position: relative;
}

.min-height-full {
  min-height: 85vh;
}

.blur {
  filter: blur(20px);
}

#banner {
  min-height: 70vh;
  width: 100%;
}

.mail.link {
  display: block;
  padding: 5px 0;
  font-size: font_size(f20);
}

@keyframes gradient_wave {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@media screen and (max-width:1330px) and (min-width:1024px) {
  h1 {
    font-size: font_size(f80);
  }

  h2 {
    font-size: font_size(f60);
  }

  .boxed {
    max-width: 90%;
  }
}

@media screen and (max-width:1024px)  {
  h1 {
    font-size: font_size(f60);
  }

  h2 {
    font-size: font_size(f40);
  }
  h3 {
    font-size: font_size(f20);
  }
  .blog .i {
    margin: 20px 10px;
  }

  .wrap {
    &.boxed {
     @include flex-center-between;
      max-width: 90%;
    }

    &.block_wrap {
      padding: $block_padding_tablet;
    }

    .col-md-1 {
      flex-basis: 100%;
    }

    .col-md-2 {
      flex-basis: calc(50% - 25px);
    }

    col-sm-1 .col-md-3 {
      flex-basis: calc(33.33% - 25px);
    }
  }
}

@media screen and (max-width:750px)  {

  h1 {
    font-size: font_size(f40);
  }

 h2 {
   font-size: font_size(f30);
 }

 h3 {
   font-size: font_size(f20);
 }
  .blog .i {
    margin: 15px 10px;
  }

  .wrap {
    &.boxed {
      @include flex-center-between;
      max-width: 90%;
    }

    &.block_wrap {
      padding: $block_padding_mobile;
    }

    .col-sm-1 {
      flex-basis: 100%;
    }

    .col-sm-2 {
      flex-basis: calc(50% - 25px);
    }

    .col-sm-3 {
      flex-basis: calc(33.33% - 25px);
    }

  }
  #banner{
    min-height: 50vh;
  }
}

@media screen and (max-width:400px) {
  h1 {
    font-size: font_size(f30);
  }

  h2 {
    font-size: font_size(f20);
  }

  h3 {
    font-size: font_size(f18);
  }

  .wrap {
    .col-tn-1 {
      flex-basis: 100%;
    }
  }
}