@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap');

@import "_variables";
@import "_functions";
@import "_mixins";
body {
  font: font_weight(regular) font_size(f16) font(base_font);
  color: color(_gray);
  text-transform: uppercase;

  h1 {
    font-size: font_size(f100);
  }

  h2 {
    font-size: font_size(f80);
  }

  h3 {
    font-size: font_size(f25);
  }

  h4 {
    font-size: font_size(f20);
  }

  &.laptop {
    h1 {
      font-size: font_size(f80);
    }

    h2 {
      font-size: font_size(f60);
    }

    .boxed {
      max-width: 90%;
    }
  }

  &.tablet {
    h1 {
      font-size: font_size(f80);
    }

    h2 {
      font-size: font_size(f60);
    }

    .wrap {
      &.boxed {
        @extend %flex-center-between;
        max-width: 90%;
      }
      &.block_wrap {
        padding: $block_padding_tablet;
      }
      .col-md-1 {
        flex-basis: 100%;
      }

      .col-md-2 {
        flex-basis: calc(50% - 25px);
      }

      .col-md-3 {
        flex-basis: calc(33.33% - 25px);
      }
    }
  }

  &.mobile {
    h1 {
      font-size: font_size(f60);
    }

    h2 {
      font-size: 50px;
    }

    .wrap {
      &.boxed {
        @extend %flex-center-between;
        max-width: 90%;
      }
      &.block_wrap {
        padding: $block_padding_mobile;
      }
      .col-sm-1 {
        flex-basis: 100%;
      }

      .col-sm-2 {
        flex-basis: calc(50% - 25px);
      }

      .col-sm-3 {
        flex-basis: calc(33.33% - 25px);
      }

    }
  }
}


.wrap {
  @extend %flex-center-between;
&:not(.block_wrap .btn_wrap) {
  padding: $inner_padd;
}

&.block_wrap {
  padding: $block_padding_desk;
}

  &.boxed {
    @include cont_width;
  }

  >div {
    &.col-center {
      @extend %flex-center-center;
      margin: $med_marg;
    }
  }

  .col-1 {
    flex-basis: 100%;
  }

  .col-2 {
    flex-basis: calc(50% - 20px);
  }

  .col-3 {
    flex-basis: calc(33.33% - 20px);
  }

  .col-4 {
    flex-basis: calc(25% - 20px);
  }

  .col-5 {
    flex-basis: calc(20% -20px);
  }
}

header {
  @extend %flex-center-center;
}

.heading,
.btn,
a {
  font-weight: font_weight(boldest);
  font-family: font(lined_font);
  text-align: center;
}

p {
  font-weight: font_weight(regular);
  font-family: font(base_font);
  text-transform: none;
}

#app {
  @extend %flex-center-column;
}

.btn {
  padding: $inner_padd;
  background: color(_black);
  color: white;
  margin: $med_marg;
  transform: scale(1) rotate(0deg);
  transition: $trans_default;
}

.btn_wrap {
  padding: 15px 0;

  >.btn {
    margin: 0;
    flex-basis: calc(50% - 25px);
    background: linear-gradient(to right, #000300 0%, #000300 100%);
    background-size: 400% 400%;

    &:hover {
      animation: gradient_wave 5s ease infinite;
    }

    &:first-child {
      margin-right: 5px;

      &:hover {
        transform: scale(0.9) rotate(-10deg);
        background: linear-gradient(to right, #ec008c 0%, #02a9ea 100%);
        background-size: 400% 400%;
      }
    }

    &:last-child {
      &:hover {
        transform: scale(0.9) rotate(10deg);
        background: linear-gradient(to left, #ec008c 0%, #02a9ea 100%);
        background-size: 400% 400%;
      }
    }
  }
}

.yellow {
  background: color(_yellow);
}

.magenta {
  background: color(_magenta);
}

.blue {
  background: color(_blue);
}

.bck-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bck-fixed {
  background-attachment: fixed;
}

.single-title {
  min-height: 60vh;
  @extend %flex-center-center;
}

@keyframes gradient_wave {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
