@mixin cont_width{
  max-width: $cont_width;
  width: auto;
  margin: 0 auto;
}
@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-start-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@mixin flex-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
@mixin flex-center-column {
  display: flex;
  align-content:  center;
  flex-direction: column;
}

@mixin flex-center-center-column {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

}
