$fonts: ("base_font": "Montserrat",
  "lined_font": "Montserrat Subrayada"
);

$font_sizes: ("f14": 14px,
  "f16": 16px,
  "f18" : 18px,
  "f20": 20px,
  "f25": 25px,
  "f30": 30px,
  "f60": 60px,
  "f80": 80px,
  "f100": 100px,
  "f120": 120px,
);

$font_weights: ("light" : 300,
  "regular" : 400,
  "medium" : 500,
  "bold": 600,
  "bolder": 700,
  "boldest": 900,
);
$line_heights: ("_minimal": 1em,
  "_default": 1.2em,
  "_bigger": 1.3em,
);
$colors: ("_gray": #1a181b,
  "_black": #000300,
  "_magenta": #EC008C,
  "_yellow": #faff00,
  "_blue": #02a9ea,
);
$block_padding_desk: 40px 20px;
$block_padding_tablet: 20px;
$block_padding_mobile: 20px 10px;
$inner_padd: 10px;
$med_marg: 10px;
$bigger_marg: 20px;
$cont_width: 1200px;
$trans_default: all 0.3s ease;
